files: # this is set up for where to create the new file from the .ebextensions during environment setup
  "/etc/nginx/conf.d/01_webapp.conf":
    mode: "000644"
    owner: root
    group: root
    content: | # Copy the contents of your original /etc/nginx/conf.d/webapp.conf file below.
               # Comments are provided where changes or additions are required
      upstream app_name { # the name can be anything other than my_app, which is used in the default webapp.conf file
        server unix:///var/run/puma/my_app.sock;
      }

      server {
        listen 80;
        server_name _ localhost; # need to listen to localhost for worker tier

        location / {
          proxy_pass http://apprenticeshipio; # match the name of upstream directive which is defined above
          proxy_set_header Host $host;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location /assets {
          alias /var/app/current/public/assets;
          gzip_static on;
          gzip on;
          expires max;
          add_header Cache-Control public;
        }

        location /public {
          alias /var/app/current/public;
          gzip_static on;
          gzip on;
          expires max;
          add_header Cache-Control public;
        }
        # The other lines can be copied from your /etc/nginx/conf.d/webapp.conf file,
        # but this is the location directive that makes makes the webpack js file serving working.
        location /packs {
          alias /var/app/current/public/packs;
          gzip_static on;
          gzip on;
          expires max;
          add_header Cache-Control public;
        }
      }
# This reloads the server, which will both make the changes take affect and makes sure the config is valid when you deploy
container_commands:
  01_reload_nginx:
    command: "sudo service nginx reload"
