container_commands:
  00_reload_nginx:
    command: "sudo service nginx reload"
  01_db_migrate:
    command: "rake db:migrate"
    leader_only: true
  02_install_node:
    command: sudo ln -sf /usr/bin/nodejs /usr/local/bin/node
  03_remove_old_cron_jobs:
    command: 'for user in $(cut -f1 -d: /etc/passwd); do crontab -u $user -r; done || exit 0'
  04_update_crontab:
    command: 'if [ "$AWS_ENV" = "web" ]; then cd /var/app/current && RAILS_ENV=production bundle exec whenever --load-file /var/app/ondeck/config/schedule.rb --update-crontab; else exit 0; fi'