container_commands:
  01_db_migrate:
    command: "bundle exec rake db:migrate"
    leader_only: true
  02_install_node:
    command: sudo ln -sf /usr/bin/nodejs /usr/local/bin/node
  03_variables:
    command: export $(cat /opt/elasticbeanstalk/deployment/env | xargs)
  04_yarn_pkg_install:
    command: su webapp -c "yarn --production"
  05_home_webapp:
    command: mkdir -p /home/webapp && chmod 700 /home/webapp