packages:
    yum:
        amazon-linux-extras: []
        jq: []

commands:
    01_postgres_activate:
        command: sudo amazon-linux-extras enable postgresql10
    02_postgres_install:
        command: sudo yum install -y postgresql-devel
    03_platform_perm:
      command: chmod -R 777 .platform