.artwork-container {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;

    .artwork-top-bg {
        filter: blur(20px);
        height: 60px;
        transform: scale(1.1);
    }

    .card {
        border: none;
        border-radius: 50px;
        text-align: center;

        .card-top-container {
            position: relative;
            height: auto !important;
            //overflow: hidden;
            background-color: #fff;
            border-radius: 50px;
            z-index: 2;
            padding-top: 2px;
        }

        .card-img-container {
            position: absolute;
            filter: blur(25px);
            transform: scale(1.2);
            min-height: 90vh;
            height: calc(100% + 100px);
            img {
                height: 100%;
                z-index: 100;
            }
        }

        .card-img-overlay {
            padding: 0px 40px;
            height: auto;
            position: relative;

            .card-header {
                color: #F75033;
                background-color: #fff;
                font-size: 18px;
                text-transform: uppercase;
                border: none;
            }

            .card-img-result {
                position: relative;
                z-index: 1;
                pointer-events: none;
                img {
                    width:80%;
                }
            }

            .card-artist {
                position: relative;
                padding-top:30px;
                text-align: center;
                color: #333;
                opacity: 0.75;
                text-transform: uppercase;
                font-size: 16px;
            }

            .card-title {
                position: relative;
                margin: 0 -15px;
                text-align: center;
                color: #333;
            }
        }

        .card-body {
            padding: 25px;
            color: #282828;
            text-align: left;
            z-index: 2;
            background: #fff;
            .card-text {
                padding-bottom: 30px;
            }

            .card-info {
                display: flex;
                justify-content: center;
                margin-bottom: 45px;
            }

            .detail-table {
                width: 100%;

                .item-label {
                    font-family: 'Calibre-Regular';
                    line-height: 30px;
                    font-size: 17px;
                    letter-spacing: 0.01em;
                    color: #6E6E6E;
                    opacity: 0.8;
                    vertical-align: top;
                    width: 30%;
                }

                .item-info {
                    font-family: 'Calibre-Regular';
                    line-height: 18px;
                    padding-top: 6px;
                    font-size: 17px;
                    letter-spacing: 0.01em;
                    color: #282828;
                    vertical-align: top;
                }

            }

            .share-wrapper {
                margin-bottom: 60px;
                display: flex;
                justify-content: space-evenly;

                .btn-share-result {
                    min-width: 95px;
                    width: fit-content;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 45px;
                    border: 2px solid rgba(0, 0, 0, 0.12);
                    border-radius: 100px;

                    img {
                        position: relative;
                        left: 12px;
                        top: 8px;
                    }

                    .text-share {
                        line-height: 24px;
                        font-size: 16px;
                        color: #6E6E6E;
                        top: 8px;
                        left: 22px;
                        position: relative;
                    }
                }
            }

            .text-left {
                text-align: left;
            }

            .text-right {
                text-align: right;
            }
        }        

        .card-footer {
            background-color: #D4432A;
            color: #FFF;
            padding: 2rem;
            
            p {
                color: #FFF; 
                opacity: 0.8;
            }
        }
        
        .btn-circle {
            width: 70px;
            height: 70px;
            border-radius: 35px;
            font-size: 24px;
            line-height: 0.33;
            position: relative;
            top: -35px;
            left: 75vw;
            background-color: #000;
            color: #FFF;
            -webkit-appearance: none;
        }
    }

    .reset-experience {
        color: #D4432A;
        padding: 10px 0;
        font-weight: bold;
        font-size: 16px;
    }
}

.search-error-container {

    .error-container {
        padding: 60px 30px;
        height: 60vh;
        text-align: center;
    }
}

.notification {
    border-top: 2px solid rgb(255, 0, 0) !important;
    background-color: #000 !important;
    color: #fff !important;
    box-shadow: rgba(0, 0, 0, .9) 0px 0px 1px !important;
    text-align: center;
}

.google-translate-disclaimer {
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Calibre-Regular';
    line-height: 19px;
    font-size: 17px;
    letter-spacing: 0.01em;
    color: #B4B4B4;

    span {
        display: inline-block;
        width: 110px;
        margin-right:4px;
    }
}

.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.cross-fade-height {
  transition: height .5s ease-in-out;
}

/* iPhone 6,7,8  */
@media only screen and (min-device-width: 320px) and (max-device-height: 667px) and (orientation : portrait) {
    
}