* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
    font-size: 18px;
    font-weight: 400;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
}

.content {
    text-align: center;
    padding: 5vw;
}

.language-select {
    padding: 0 15px;
    .btn-group {
        .btn {
            background-color: #FFF;
            text-align: left;
            border-radius: 0;
            color: #8C8C8D;
            border: 2px solid #E3E3E3;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}

.Modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 0px;
    outline: none;
    padding: 20px;
    text-align: center;

    .close {
        font-size: 30px;
    }

    .list-group {
        
        .list-group-item {
            text-align: left;
            color: #8C8C8D;

            &:first-child {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            &:last-child {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            .selected-lang {
                color: #F74D31;
                float: right;
            }
        }
    }
    
}



// /* Smartphones (portrait and landscape) ----------- */
// @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// /* Styles */
// }

// /* Smartphones (landscape) ----------- */
// @media only screen and (min-width : 321px) {
// /* Styles */
// }

// /* Smartphones (portrait) ----------- */
// @media only screen and (max-width : 320px) {
// /* Styles */
// }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
    h1 {
        font-size: 45px;
        margin-bottom: 40px;
    }

    h2 {
        font-size: 25px;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}