* {
    font-family: 'Calibre-Medium','Calibre-Regular', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height:100%;
    width:100%;
    font-size: 1rem !important;
    font-family: 'Calibre-Medium','Calibre-Regular', sans-serif;
    font-weight: 400;
    color: #282828;
    font-kerning:normal;
    font-feature-settings:"kern";
    text-rendering:optimizeLegibility;
    font-variant-ligatures:common-ligatures;
    //position: absolute;
    //overflow: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-y:scroll;
}

.h0 {
    font-size: 40px;
    line-height: 40px;
}

.h1 {
    font-size: 30px;
    line-height: 35px;
}

.h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 0;
}

.paragraph {
    //font-family: 'Milo serif';
    font-family: 'Calibre-Regular';
    font-size: 18px;
    line-height: 26px;
}

.small-paragraph {
    font-family: 'Calibre-Regular';
    font-size: 17px;
    line-height: 20px;
}

.caption {
     font-family: 'Calibre-Regular';
    font-size: 14px;
}

::placeholder {
  color: #fff;
  opacity: 0.65; 
}

::-webkit-input-placeholder  {
  color: #fff;
  opacity: 0.65; 
}

.popover {
    max-width: 120px !important;
    width: 120px !important;
    padding: 5px;

    .share {
        display: flex;
        justify-content: space-between;
    }
}



h1 {
    font-size: 2.25rem;
    margin-bottom: 0.78125rem;
    font-family: 'Calibre-Medium';
    font-weight: normal;
    margin-top: 0;

    &.small {
        font-size: 1.4rem;
    }
}



h2 {
    line-height: 25px;
    font-size: 25px;
    text-align: center;
}

p {
    color: #8C8C8D;
    font-family: 'Calibre-Regular';
} 

.landscape-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(25px);
    transform: scale(1.2);
}

.scan-wrapper {
    top:0;
    right:0;
    bottom:0;
    left:0;
    position: relative;
}

.scan-button {
    width: 60px;
    height: 60px;
    left: calc(50% - 30px);
    bottom: 37px;
    z-index: 99999;
}

.language-dropdown-wrapper {
    top:0;
    right:0;
    bottom:0;
    left:0;
    position: relative;
}

.language-dropdown {
    width: 68px;
    height: 45px;
    right: 22px;
    bottom: 45px;
    position: fixed;
    //background: #FFFFFF;
    //border: 2px solid rgba(0, 0, 0, 0.12);
    z-index: 99999;
    float: right;
}

.content {
    text-align: center;
    padding: 0 5vw;
}

.snap-text-muted {
    color: #8C8C8D;
    font-size: 0.875rem !important;
}

.opaque {
    opacity: 0.2 !important;
}

.btn-outline-secondary:focus, 
.btn-outline-secondary.focus {
    box-shadow: none !important;
}

.footer-text {
    padding: 24px 0 24px;
    a {
        font-family: 'Calibre-Regular';
        font-size: 16px;
        text-align: center;
        color: #B4B4B4 !important;        
    }
    
}

.ReactModal__Overlay {
    background-color: rgba(128, 128, 128, 0.12) !important;
}

// /* smartphone (landscape) */
// @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
    
//     h2 {
//         font-size: 1.5625rem;
//     }
    
//     p {
//         font-size: 1.625rem;
//     } 
// }

/* iPhone 6s and below. Smaller Devices (Portrait) */
@media only screen and (min-device-width: 320px) and (max-device-height: 667px) and (orientation : portrait) {
/* Styles */
       

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
   
}

// @media screen and (min-width: 320px) and (max-width: 1024px) and (orientation: landscape) {
//     html {
//       transform: rotate(-90deg);
//       transform-origin: left top;
//       width: 100vh;
//       overflow-x: hidden;
//       position: absolute;
//       top: 100%;
//       left: 0;
//     }
//   }
  

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
    
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}