@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: #fff;
    font:normal 16px/1.5 sans-serif;
    color: #333;
}

h3{
    font: normal 32px/1.5 'Open Sans', sans-serif;
    color: #2c3e50;
    margin: 50px 0;
    text-align: center;
}

.video-frame {
    position: absolute;
    width: 86%;
    height: 76%;
    margin: 0 auto;
    padding: 20px;
    left: 7%;
    top: 5%;
    z-index: 1;
    pointer-events: none;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to right, red 4px, transparent 4px), linear-gradient(to right, red 4px, transparent 4px), linear-gradient(to left, red 4px, transparent 4px), linear-gradient(to left, red 4px, transparent 4px), linear-gradient(to bottom, red 4px, transparent 4px), linear-gradient(to bottom, red 4px, transparent 4px), linear-gradient(to top, red 4px, transparent 4px), linear-gradient(to top, red 4px, transparent 4px);
        background-position: 0 0, 0 100%, 100% 0, 100% 100%, 0 0, 100% 0, 0 100%, 100% 100%;
        background-repeat: no-repeat;
        background-size: 40px 40px;
    }
}

.camera{
    width: 100%;
    height: 100%;
    background: #ccc;
    border: 10px solid #ddd;
    margin: 0 auto;
    position: relative;
}

.camera #error-message{
    width: 100%;
    background-color: #ccc;
    color: #9b9b9b;
    font-size: 28px;
    padding: 200px 100px;
    text-align: center;
    display: none;
}

.camera .controls{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 35px;
    //display: none;
}

.camera .controls a {
    border-radius: 50%;
    color: #fff;
    background-color: #111;
    text-decoration: none;
    padding: 15px;
    line-height: 0;
    opacity: 0.7;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.camera .controls a:hover{
    opacity: 1;
}

.camera .controls a.disabled{
    background-color: #555;
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.camera .controls a.disabled:hover{
    opacity: 0.5;
}

.camera .controls a i{
    font-size: 18px;
}

.camera .controls.visible{
    display: flex;
}

.image-url{
    float: left;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    text-decoration: underline;
    text-align: center;
}

.snap-spinner {
    text-align: center;
}

.results {
    font-size: 15px;

}
.pastec-data{
    margin: 20px;
    border: 2px solid;
    padding: 30px;
}


// @media(max-width: 1000px){
//     .container{
//         margin: 40px;
//     }

//     .camera #start-camera.visible{
//         display: block;
//     }

//     .camera .controls a i{
//         font-size: 16px;
//     }

//     .camera .controls #take-photo i{
//         font-size: 24px;
//     }
// }


// @media(max-width: 600px){
//     .container{
//         margin: 10px;
//     }

//     .camera #error-message{
//         padding: 80px 50px;
//         font-size: 18px;
//     }

//     .camera .controls a i{
//         font-size: 12px;
//     }

//     .camera .controls #take-photo i{
//         font-size: 18px;
//     }
// }

