.carousel {
    height : 90vh;
    padding: 0.875rem;

    .carousel-indicators {
        position: absolute;
        bottom: 15vh;
        z-index: 0;
        text-align: center;
        list-style: none;
        margin: 0;
    
        li {
            display: inline-block;
             zoom: 1;
             width: 2vw;
             height: 2vw;
             margin: 0 2vw;
             background-color: #6E6E6E;
             -webkit-border-radius: 50%;
             -moz-border-radius: 50%;
             border-radius: 50%;
             border: 1px solid #6E6E6E;
             cursor: pointer;

             &.active {
                width: 2vw;
                height: 2vw;
                margin: 0 2vw;
                background-color: #FFF;
            }
        }
    }

    .carousel-control-prev, .carousel-control-next {
        position: absolute;
        bottom: 15vh;
        top: initial;
        width: 50%;
        height: 1.5vh;
        color: #6E6E6E;
        text-align: center;
        opacity: 1;
    }
}

/* iPhone 5 and below. Smaller Devices (Portrait) */
@media only screen and (min-device-width: 320px) and (max-device-height: 667px) and (orientation : portrait) {
/* Styles */
    
    .carousel-indicators {
        bottom: 20vh !important;
    }

    .carousel-control-prev, .carousel-control-next {
        bottom: 20vh !important;
    }

    .fa-2x {
        font-size: 1.5rem !important;
    }
    
}

/* iPhone X */
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) { 
    .carousel-indicators {
        bottom: 20vh !important;
    }
    
    .carousel-control-prev, .carousel-control-next {
        bottom: 20vh !important;
    }
    
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
    .carousel-indicators {
        bottom: 10vh !important;
    }

    .carousel-control-prev, .carousel-control-next {
        bottom: 10vh !important;
    }

    .fa-2x {
        font-size: 2.5rem !important;
    }
}

