
.email-success-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(85, 85, 85, .5);


    .success-icon {
        position: absolute;
        top: 120px;
        width: 32px;
        height: 22px;
        left: calc(50% - 16px);
    }

    .success-message {
        left: calc(50% - 152px);
        line-height: 25px;
        font-size: 25px;
        text-align: center;
        color: #FFFFFF;
        width: 305px;
        top: 179px;
        position: absolute;
    }
}
.email-popup-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(34,34,34,0.5);

    .email-container {
        padding: 0;
        position: relative;
        .email-head {
            position: absolute;
            left: calc(50% - 147px);
            text-align: center;
            color: #FFFFFF;
            width: 295px;
            top: 104px;
            height: 96px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .email-input {
                width: 325px;
                height: 50px;
                position: absolute;
                left: calc(50% -162px);
                top: 215px;
                padding-top: 0;

                input {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    
                    font-family: 'Calibre-Regular';
                    background: transparent;
                    border: 2px solid #FFFFFF;
                    box-sizing: border-box;
                    height:50px;
                    border-radius: 0;
                    color: #FFFFFF;
                    border-right: 0;
                }

                button {
                    background: transparent;
                    border: 2px solid #FFFFFF;
                    box-sizing: border-box;
                    height:50px;
                    letter-spacing: 0.01em;

                    line-height: 20px;
                    font-size: 17px;
                    text-align: center;
                    border-radius: 0;
                    color: #FFFFFF;
                }
                
                .email-input-error {
                    height: 65px;
                    text-align: center;
                    letter-spacing: 0.01em;
                    padding: 10px 20px 11px;
                    color: #FFFFFF;
                    background-color:rgba(0, 0, 0, 0.15);
                }
            }

            .email-disclaimer {
                color: #6E6E6E;
                position: relative;
                width: 325px;
                height: 65px;
                left: calc(50% - 162px);
                top: 300px;
                padding-top: 0;
                text-align: center;
                letter-spacing: 0.01em;

                color: #F5F5F5;
            }
    }

}

.email-container {
            padding: 24px 32px 22px;
            position: relative;
            background-color: #353535;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            color: #fff;
            height: 50vh;
            // transform: translate3d(0px, -172px, 0px);

            .email-intent {
                left: calc(50% - 69px);
                position: relative;
                text-align: center;
                color: inherit;
                text-transform: uppercase;
                line-height: 19px;
                width: 138px;
                height: 16px;
                margin-bottom: 16px;
            }
            
            .email-head {
                width: 320px;
                left: calc(50% - 160px);
                position: relative;
                text-align: center;
                color: inherit;
                font-size: 20px;
                line-height: 24px;
                font-weight: 600;
                font-family: 'Calibre-Regular', sans-serif;
            }

            .email-input {       
                width: 320px;
                position: relative;
                left: calc(50% -160px);
                padding-top: 16px;

                input {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;

                    font-family: 'Calibre-Regular', sans-serif;
                    background: #FFFFFF;
                    border: 2px solid #DCDCDC;
                    box-sizing: border-box;
                    height:50px;
                    border-radius: 0;
                    border-right: 0;
                }

                button {
                    background: #FFFFFF;
                    border: 2px solid #DCDCDC;
                    box-sizing: border-box;
                    height:50px;

                    line-height: 25px;
                    font-size: 16px;
                    text-align: right;
                    border-radius: 0;
                    color: #6E6E6E;
                }

                .email-input-error {
                    height: 65px;
                    text-align: center;
                    letter-spacing: 0.01em;
                    padding: 10px 20px 11px;
                    color: #FFFFFF;
                    background-color:rgba(0, 0, 0, 0.75);
                }
                
            }

            .email-disclaimer {
                color: inherit;
                padding-top: 20px;
                text-align: center;
                letter-spacing: 0.01em;
                position: relative;
                width: 320px;
                left: calc(50% -160px);
                font-family: 'Calibre-Regular', sans-serif;
            }
        }