
.story-item {

  font-family: 'Calibre-Regular' !important;

  .story-item-nav {
      position: absolute;
      top: 0;
      height: 65px;
      z-index: 1000;
      color: #fff;
      width: 100%;
      font-family: 'Calibre';
      font-size: 18px;
      vertical-align: middle;
      line-height: 50px;
      padding-top: 10px;
      display: flex;

      //top: 55px; /* shadow is at bottom of element, so at 48 + 16 = 64px */
      box-shadow: 0px 2px 5px rgba(0,0,0,0.5);

      .story-nav-question {
        font-weight: bold;
        font-family: 'Calibre-Regular';
        text-transform: uppercase;
      }

      .dd-header {
        background-color: transparent;
        color: #FFF;
        border: 2px solid rgba(255, 255, 255, .85);
      }

      .dd-list {
        bottom: 0% !important;
        position: relative;
        top: 5px;
        line-height: 16px;
        right: 22px;
        border: none;
      }
  }

  .card-img-overlay {
     margin-top: 100px;
     text-align: left;

     .story-question {
        text-transform: uppercase;
        text-align: center;
        color: #FFF;
        font-weight: bold;
        font-size: 18px;
        padding-top: 40px;
        font-family: 'Calibre';
      }

      .story-title {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        padding-top: 100px;
        font-family: 'Calibre';
        line-height: 26px;
      }

      .story-text {
        color: #fff;
        font-family: 'Calibre-Regular';
        font-size: 18px;
        line-height: 26px;

        p {
          color: #fff;
          font-family: 'Calibre-Regular';
          font-size: 18px;
          line-height: 26px;
        }
      }

      .story-footer {
        color: #fff;
        font-family: 'Calibre-Regular';
        font-size: 14px;
        line-height: 20px;
      }
  }


  

}
