
.story-item {

  font-family: 'Calibre-Regular' !important;

  .story-item-nav {
      position: absolute;
      top: 0;
      height: 65px;
      z-index: 1000;
      color: #fff;
      width: 100%;
      font-family: 'Calibre';
      font-size: 18px;
      vertical-align: middle;
      line-height: 50px;
      display: flex;
      justify-content: space-between;
      padding-top: 10px;

      .story-nav-question {
        font-weight: bold;
        font-family: 'Calibre-Regular';
        text-transform: uppercase;
      }

      .language-dropdown {

        .dd-header {
          background-color: transparent;
          color: #FFF;
          border: 2px solid rgba(255, 255, 255, .85);
        }

        .dd-list {
          bottom: 0% !important;
          position: relative;
          top: 5px;
          line-height: 16px;
          right: 35px;
          border: none;
        }
      }

      
  }

  .card-img-overlay {
     margin-top: 100px;
     text-align: left;

     .story-question {
        text-transform: uppercase;
        text-align: center;
        color: #FFF;
        font-weight: bold;
        font-size: 18px;
        padding-top: 40px;
        font-family: 'Calibre';
      }

      .story-title {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        padding-top: 100px;
        font-family: 'Calibre';
        line-height: 26px;
      }

      .story-text {
        color: #fff;
        font-family: 'Calibre-Regular';
        font-size: 18px;
        line-height: 26px;

        p {
          color: #fff;
          font-family: 'Calibre-Regular';
          font-size: 18px;
          line-height: 26px;
        }
      }

      .story-footer {
        color: #fff;
        font-family: 'Calibre-Regular';
        font-size: 14px;
        line-height: 20px;
      }
  }


  

}
