
.story-item {

  font-family: 'Calibre-Regular', sans-serif;
  // height: 100%;
  width: 100vw;
  background-color: transparent;
  border: none;
  // transform: translate3d(0px, -100px, 0px);

  .story-title-bar {
      position: absolute;
      top: 0;
      height: 65px;
      z-index: 1000;
      color: #fff;
      width: 100%;
      font-family: 'Calibre-Regular', sans-serif;
      font-size: 18px;
      vertical-align: middle;
      line-height: 50px;
      display: flex;
      justify-content: space-between;
      padding-top: 10px;

      .story-title{
        font-weight: bold;
        font-family: inherit;
        text-transform: uppercase;
      }

      .language-dropdown {

        .dd-wrapper {
          max-width: 80px;
        }

        .dd-header {
          background-color: transparent;
          color: #FFF;
          border: 2px solid rgba(255, 255, 255, .85);
        }

        .dd-list {
          bottom: 0% !important;
          position: relative;
          top: 5px;
          line-height: 16px;
          right: 35px;
          border: none;
        }
      }

      
  }

  .card-img-top {
    border-radius: 50px 50px 0px 0px
  }

  .card-img-overlay {
      margin-top: 100px;
      text-align: left;
      bottom: unset;
      // position: relative;
      // height: 100%;

     .story-question {
        text-transform: uppercase;
        text-align: center;
        color: #FFF;
        font-weight: bold;
        font-size: 18px;
        padding-top: 40px;
        font-family: 'Calibre-Medium', sans-serif;
      }

      .story-title {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        padding-top: 100px;
        font-family: 'Calibre-Medium', sans-serif;
        line-height: 26px;
      }

      .story-text {
        color: #fff;
        font-family: 'Calibre-Regular', sans-serif;
        font-size: 20px;
        line-height: 26px;

        p {
          color: #fff;
          font-family: 'Calibre-Regular', sans-serif;
          font-size: 20px;
          line-height: 26px;
          font-weight: 300;
        }
      }

      .story-footer {
        color: #fff;
        font-family: 'Calibre-Regular', sans-serif;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.07px;
      }
  }
}

#search-result {
  height: 90vh;
  // margin-bottom: -170px;
}

#story-card-0 {
  // margin-top: -300px;
}

#story-title-bar {
  position: fixed;
  // opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 69px;
  z-index: 100;
  // background-color: rgba(100,100,100,0.2);
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content-mask {
  -webkit-mask-image: linear-gradient(to bottom, transparent 10%, black, black, black, black, black);
  mask-image: linear-gradient(to bottom, transparent 10%, black, black, black, black, black);
  // background: linear-gradient(to bottom, transparent, black, black, black, black, black);
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  // border: 2px solid red;
}
