.header {
    padding: 20px 20px;
    background:#fff;
    color: #fff;
    height: 10vh;

    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
        .navbar-brand {
            img {
                height: 56px;
            }
        }
    }
    
}