.header {
    padding: 1rem;
    background:#fff;
    color: #fff;
    height: 10vh;

    .navbar-brand {
        img {
            height: 2.8rem;
        }
    }


    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
        
        padding: 2rem;
        .navbar-brand {
            img {
                height: 5.6rem;
            }
        }
    }
    
}