.search-container {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    -webkit-transform: translate3d(0,0,0);

    .card {
        border: none;
        border-radius: 0;
        text-align: center;

        .card-top-container {
            position: relative;
            height: auto !important;
            overflow: hidden;
        }

        .card-img-container {
            filter: blur(10px);
            margin: -10px;
        }

        .card-img-overlay {

            .card-img-result {
                position: absolute;
                width: 72vw;
                left: 14vw;
                padding: 20px;
                top: 40px;
                z-index: 1;
                pointer-events: none;

                img {
                    width:100%;
                }
            }

            .card-title {
                color: #fff;
                font-size: 30px;
                position: absolute;
                bottom: 4vh;
                padding: 0 20vw;
                width: 100%;
                left: 0;
                line-height: 35px;
            }
        }

        .card-body {
            padding: 25px;
            color: #282828;
            text-align: left;

            .card-text {
                padding-bottom: 30px;
            }

            .card-info {
                display: flex;
                justify-content: center;
                margin-bottom: 45px;
            }

            .detail-table {
                width: 100%;

                .item-label {
                    line-height: 30px;
                    font-size: 16px;
                    letter-spacing: 0.01em;
                    color: #6E6E6E;
                    opacity: 0.8;
                    vertical-align: top;
                    width: 30%;
                }

                .item-info {
                    line-height: 30px;
                    font-size: 16px;
                    letter-spacing: 0.01em;
                    color: #282828;
                    vertical-align: top;
                }
            }

            .share-wrapper {
                margin-bottom: 60px;

                .btn-share-result {
                    width: 95px;
                    height: 45px;
                    border: 2px solid rgba(0, 0, 0, 0.12);
                    border-radius: 100px;
                    margin: 0 auto;

                    img {
                        position: relative;
                        left: 12px;
                        top: 5px;
                    }

                    .text-share {
                        line-height: 24px;
                        font-size: 16px;
                        color: #6E6E6E;
                        top: 5px;
                        left: 22px;
                        position: relative;
                    }
                }
            }

            

            

            .text-left {
                text-align: left;
            }

            .text-right {
                text-align: right;
            }
        }

        .slider-wrapper{
            height: 540px;
            overflow: hidden;
            position: relative;

            .slider-background {
                z-index: 1;
            }

            .slider-header {
                color: #FFF;
                //padding-top: 50px;
                line-height: 25px;
                z-index: 9999;
                position: absolute;
                top: 50px;
                width: 200px;
                left: calc(50% - 100px);
            }

            .slider-container {
                z-index: 9999;
                position: absolute;
                width: 100%;
                top:35px;
            }

            .footer-text {
                font-family: Calibre;
                line-height: 24px;
                font-size: 16px;
                text-align: center;
                position: absolute;
                bottom: 125px;
                width: 260px;
                left: calc(50% - 130px);
                display: flex;
                justify-content: space-between;

                color: rgba(255, 255, 255, 0.7);

                a {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }

        

        .email-container {
            padding: 50px 30px;
            position: relative;
            
            .email-head {
                width: 320px;
                left: calc(50% - 160px);
                position: relative;
                font-family: Calibre;
                line-height: 25px;
                font-size: 25px;
                text-align: center;

                color: #000000;
            }

            .email-input {
                width: 320px;
                position: relative;
                left: calc(50% -160px);
                padding-top: 35px;

                input {
                    background: #FFFFFF;
                    border: 2px solid #DCDCDC;
                    box-sizing: border-box;
                    height:50px;
                    border-radius: 0;
                }

                button {
                    background: #FFFFFF;
                    border: 2px solid #DCDCDC;
                    box-sizing: border-box;
                    height:50px;

                    font-family: Calibre;
                    line-height: 25px;
                    font-size: 16px;
                    text-align: right;
                    border-radius: 0;
                    color: #6E6E6E;
                }
                
            }

            .email-disclaimer {
                padding-top: 20px;
                font-family: Calibre;
                line-height: 20px;
                font-size: 17px;
                text-align: center;
                letter-spacing: 0.01em;
                position: relative;
                width: 320px;
                left: calc(50% -160px);
            }
        }

        .card-footer {
            background-color: #D4432A;
            color: #FFF;
            padding: 2rem;
            
            p {
                color: #FFF; 
                opacity: 0.8;
            }
        }
        
        .btn-circle {
            width: 70px;
            height: 70px;
            border-radius: 35px;
            font-size: 24px;
            line-height: 0.33;
            position: relative;
            top: -35px;
            left: 75vw;
            background-color: #000;
            color: #FFF;
            -webkit-appearance: none;
        }
    }

    .reset-experience {
        color: #D4432A;
        padding: 10px 0;
        font-weight: bold;
        font-size: 16px;
    }
}

.search-error-container {

    .error-container {
        padding: 60px 30px;
        height: 60vh;
        text-align: center;
    }
}

.notification {
    border-top: 2px solid rgb(255, 0, 0) !important;
    background-color: #000 !important;
    color: #fff !important;
    box-shadow: rgba(0, 0, 0, .9) 0px 0px 1px !important;
    text-align: center;
}

/* Slick sider customization for scale and animation*/

// .slick-list,
// .slick-track,
// .slick-slide img {
//    height: 100%;   
// }

.slick-list {
    padding: 0px 92px !important;
}

.slick-slide {
    margin: 50px 0;
    img {
        opacity: 0.7;
    }
}

.slick-center img{
    -moz-transform:scale(1.13);
    -ms-transform:scale(1.13);
    -o-transform:scale(1.13);
    -webkit-transform:scale(1.13);
    transform:scale(1.13);
    opacity:1;
    transition: all .3s ease-in-out;
}

/* iPhone 6,7,8  */
@media only screen and (min-device-width: 320px) and (max-device-height: 667px) and (orientation : portrait) {
    .btn-circle {
        width: 60px !important;
        height: 60px !important;
        border-radius: 30px !important;
        top: -30px !important;
    }
}