.story-page-intro {
    
    .card-img-overlay {
        z-index: 1000;
        margin-top: 100px;
        text-align: left;
        
    }

    .story-title {
        height: 96px;	
        width: 327px;	
        color: #FFFFFF;	
        font-family: 'Calibre-Medium', sans-serif;	
        font-size: 48px;	
        font-weight: 600;	
        letter-spacing: 0.6px;	
        line-height: 58px;
        padding-top: 56px;
    }
}