.welcome-screen {
    .img-gallery {
        // position: absolute;
        top: 15vh;
        margin: 4vw;
        
        .gallery-item {           
            position: absolute;
            
            &:nth-child(1) {
                top:0;
                left: 0;  
            }

            &:nth-child(2) {
                top:20vh;
                left: 25vw;  
                z-index: 100;  
            }

            &:nth-child(3) {
                top:5vh;
                left: 48vw;  
            }

            img {
                width: 40vw;
            }
        }
    }
}