<!DOCTYPE html>
<html>
  <head>
    <title>Barnes Foundation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Titillium+Web:700|Source+Serif+Pro:400,700|Merriweather+Sans:400,700|Source+Sans+Pro:400,300,600,700,300italic,400italic,600italic,700italic"
          rel="stylesheet" type="text/css">

    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
